<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav>
        <div class="px-3 py-3 text-white top-menu">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white  text-decoration-none">
                        <h2>eticaret.</h2>
                    </a>


                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center align-items-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-white d-flex flex-column">
                                <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-house"></i></span>
                                Anasayfa
                            </a>
                        </li>
                        <li>
                            <a href="/Products/Index" class="nav-link text-white d-flex flex-column">
                                <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-sitemap"></i></span>
                                Ürünler
                            </a>
                        </li>
                        <li>
                            <a href="/About/Index" class="nav-link text-white d-flex flex-column">
                                <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-question"></i></span>
                                Hakkımızda
                            </a>
                        </li>
                        <li>
                            <a href="/Contact/Index" class="nav-link text-white d-flex flex-column">
                                <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-phone"></i></span>
                                Bize Ulaşın
                            </a>
                        </li>

                        @if (Convert.ToString(Session["kullanici"]) == Convert.ToString("Admin"))
                                                            {
                            <li>
                                <a href="/Admin/Index" class="nav-link text-white d-flex flex-column">
                                    <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-lock"></i></span>
                                    Admin Panel
                                </a>
                            </li>
                        }
                        @if (string.IsNullOrEmpty(Convert.ToString(Session["kullanici"])))
                        {
                            <li>
                                <a href="/Sign/Index" class="nav-link text-white d-flex flex-column">
                                    <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-user"></i></span>
                                    Giriş Yap
                                </a>
                            </li>

                        }
                        else
                        {
                            <li>
                                <a href="/Sign/Logout" class="nav-link text-white d-flex flex-column">
                                    <span class="bi d-block mx-auto mb-1 fs-5"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                                    Çıkış Yap
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>



    <div>
        @RenderBody()
    </div>
    <footer class="py-3 my-5">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link fs-5 px-2 text-white fw-bold">Anasayfa</a></li>
                <li class="nav-item"><a href="/Products/Index" class="nav-link fs-5 px-2 text-white fw-bold">Ürünler</a></li>
                <li class="nav-item"><a href="/About/Index" class="nav-link fs-5 px-2 text-white fw-bold">Hakkımızda</a></li>
                <li class="nav-item"><a href="/Contact/Index" class="nav-link fs-5 px-2 text-white fw-bold">Bize Ulaşın</a></li>
            </ul>
            <div class="d-flex justify-content-between align-items-center py-4 my-4">
                <p class="fs-4 fw-bolder text-white">© 2023 Eticaret, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex align-content-center justify-content-center">
                    <li class="ms-3 mx-1"><a class="text-white fs-3" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="ms-3 mx-1"><a class="text-white fs-3" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li class="ms-3 mx-1"><a class="text-white fs-3" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
