@using WebProje.Models.Sınıflar
@model List<Hakkımızda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container px-3 mt-5">
    @foreach (var x in Model)
    {
        <div class="row m-2 mb-5">
            <div class="col-sm-8">
                @x.Aciklama
            </div>
            <div class="col-sm-4">
                <img src="@x.ImageURL">
            </div>
        </div> <hr>
    }

</div>

